<div fxLayoutAlign="center center" fxLayout="column">

    <div>Code User : {{data.code}}</div>
    <div>Role User : {{data.role}}</div>
    <div>Type User : {{data.type}}</div>
    <div>Nom  User : {{data.nom}}</div>
    <div>Prenom  User : {{data.prenom}}</div>
    <div>Grade  User : {{data.grade}}</div>
    <div>Gouvernorat  User : {{data.gouvernorat}}</div>
    <div>Adresse  User : {{data.adresse}}</div>
    <div>Tel  User : {{data.tel}}</div>
    <div>Email  User : {{data.email}}</div>
    <div>Photo  User : {{data.photo}}</div>
    <div>Poste  User : {{data.poste}}</div>
    <div>Fax User : {{data.fax}}</div>
    <div>Login User : {{data.login}}</div>
    <div>Password User : {{data.password}}</div>
    <div>Url User : {{data.url}}</div>
    <div>User's Organisme-nom  : {{data.nomOrganisme}}</div>
    <div>User's Departement-nom  : {{data.nomDepartement}}</div>
  
    <button  mat-raised-button color="warn" (click)="onNoClick()" >Break</button>
  
  
    </div>