
<span class="label"><strong>Transfusion :</strong></span>
<mat-form-field appearance="fill">
  <mat-label>Transfusion</mat-label>
  <mat-select [(ngModel)]="fiche8.transfusion" ngModel name="Transfusion" required>
    <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
  </mat-select>
</mat-form-field>

<div id="conteneur">

  <div>

    <span class="label">Age de la premiere transfusion :</span>
    <mat-form-field>
      <input type="number" matInput placeholder="Age de la premiere transfusion" ngModel name="Agepret" required
       [(ngModel)]="fiche8.ageTransf" #AgepretInput="ngModel">
      <mat-error *ngIf="AgepretInput.hasError('required')">age must not be empty.</mat-error>
    </mat-form-field>
    <span class="label">ans</span><br>

    <span class="label">NbCG :</span>
    <mat-form-field appearance="fill">
      <mat-label>NbCG</mat-label>
      <mat-select [(ngModel)]="fiche8.nbCG" ngModel name="NbCG" required>
        <mat-option *ngFor="let item of tabenum8 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field><br>

    <span class="label">chélation du fer :</span>
    <mat-form-field appearance="fill">
      <mat-label>chélation du fer</mat-label>
      <mat-select [(ngModel)]="fiche8.chelationFer" ngModel name="chélation_du_fer" required>
        <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>


  </div>


  <div>

    <span class="label">Delai par rapport au diagnostic :</span>
    <mat-form-field>
      <input type="number" matInput placeholder="Delai par rapport au diagnostic" ngModel name="delaiprad" required
       [(ngModel)]="fiche8.delaiDiag" #delaipradInput="ngModel">
      <mat-error *ngIf="delaipradInput.hasError('required')">Delai must not be empty.</mat-error>
    </mat-form-field>
    <span class="label">mois</span><br>

    <span class="label">NbCP :</span>
    <mat-form-field appearance="fill">
      <mat-label>NbCP</mat-label>
      <mat-select [(ngModel)]="fiche8.nbCP" ngModel name="NbCP" required>
        <mat-option *ngFor="let item of tabenum8 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>


  </div>

</div>

<div *ngIf="fiche8.chelationFer=='Oui'" id="conteneur1">

  <span class="label">Chélateur :</span>
  <mat-form-field>
    <input type="text" matInput placeholder="Chélateur" ngModel name="Chélateur" required
     [(ngModel)]="fiche8.chelateur" #ChelateurInput="ngModel">
    <mat-error *ngIf="ChelateurInput.hasError('required')">Chélateur must not be empty.</mat-error>
  </mat-form-field>


</div>

<br>
<hr><br>

<p><strong>Traitement de fond : </strong></p>

<div id="conteneur">

  <div>
    Type :
  </div>


  <div>

    <span class="label">Nilvar :</span>
    <mat-form-field appearance="fill">
      <mat-label>Nilvar</mat-label>
      <mat-select [(ngModel)]="fiche8.nilevar" ngModel name="Nilvar" required>
        <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <div>

    <span class="label">Oxymétholone :</span>
    <mat-form-field appearance="fill">
      <mat-label>Oxymétholone</mat-label>
      <mat-select [(ngModel)]="fiche8.oxymetholone" ngModel name="Oxymétholone" required>
        <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <div>

    <span class="label">Androtordyl :</span>
    <mat-form-field appearance="fill">
      <mat-label>Androtordyl</mat-label>
      <mat-select [(ngModel)]="fiche8.androtordyl" ngModel name="Androtordyl" required>
        <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <div>

    <span class="label">Autre :</span>
    <mat-form-field>
      <input type="text" matInput placeholder="Autre" ngModel name="Autre" required
        [(ngModel)]="fiche8.autreAndrogene" #autremokInput="ngModel">
      <mat-error *ngIf="autremokInput.hasError('required')">Autre must not be empty.</mat-error>
    </mat-form-field>

  </div>


</div><br>


<div id="conteneur">

  <div>

    Début :

  </div>


  <div>

    <mat-form-field appearance="fill" class="item">
      <input matInput [matDatepicker]="androD" [(ngModel)]="fiche8.androDebut">
      <mat-datepicker-toggle matSuffix [for]="androD"></mat-datepicker-toggle>
      <mat-datepicker #androD></mat-datepicker>
    </mat-form-field>


  </div>


  <div>


    Fin :

  </div>


  <div>

    <mat-form-field appearance="fill" class="item">
      <input matInput [matDatepicker]="androFin" [(ngModel)]="fiche8.androFin">
      <mat-datepicker-toggle matSuffix [for]="androFin"></mat-datepicker-toggle>
      <mat-datepicker #androFin></mat-datepicker>
    </mat-form-field>


  </div>


</div><br><br>


<div id="conteneur">

  <div>

    Observance


  </div>



  <div>

    <mat-form-field appearance="fill">
      <mat-label>Observance</mat-label>
      <mat-select [(ngModel)]="fiche8.observance" ngModel name="Observance" required>
        <mat-option *ngFor="let item of tab " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


</div>

<br>
<hr><br>

<div id="conteneur2">

  <div>

    <span class="label"><strong>Toxicité :</strong></span>
    <mat-form-field appearance="fill">
      <mat-label>Toxicité</mat-label>
      <mat-select [(ngModel)]="fiche8.toxicite" ngModel name="Toxicite" required>
        <mat-option *ngFor="let item of toxicite " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <div>

    <span class="label">Autre :</span>
    <mat-form-field>
      <input type="text" matInput placeholder="Autre" ngModel name="Autre" required
        [(ngModel)]="fiche8.autreToxicite" #autremok1Input="ngModel">
      <mat-error *ngIf="autremok1Input.hasError('required')">Autre must not be empty.</mat-error>
    </mat-form-field>

  </div>

</div>


<br>
<hr><br>

<p><strong>Greffe :</strong></p><br>

<div id="conteneur2">

  <div>

    <span class="label"><strong>Enquete HLA :</strong></span>
    <mat-form-field appearance="fill">
      <mat-label>Enquete HLA</mat-label>
      <mat-select [(ngModel)]="fiche8.enqueteHLA" ngModel name="Enquete_HLA" required>
        <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>



  </div>

  <div>

    <span class="label">Pourquoi :</span>
    <mat-form-field>
      <input type="text" matInput placeholder="Pourquoi" ngModel name="Pourquoi" required
       [(ngModel)]="fiche8.pourquoiEnqHLA" #PourquoiInput="ngModel">
      <mat-error *ngIf="PourquoiInput.hasError('required')">Pourquoi must not be empty.</mat-error>
    </mat-form-field>

  </div>

</div>


<div id="conteneur">

  <div>

    <span class="label">Nombre de fraterie typé(s) :</span>
    <mat-form-field>
      <input type="number" matInput placeholder="Nombre de fraterie typé(s)" ngModel name="nbreFratType" required
     [(ngModel)]="fiche8.nbFratTyp" #nbreFratTypeInput="ngModel">
      <mat-error *ngIf="nbreFratTypeInput.hasError('required')">nbreFratType must not be empty.</mat-error>
    </mat-form-field>
  </div>

  <div>

    <span class="label">Nombre de fraterie non typé(s) :</span>
    <mat-form-field>
      <input type="number" matInput placeholder="Nombre de fraterie non typé(s)" ngModel name="nbreFratnType" required
      [(ngModel)]="fiche8.nbFratNTyp" #nbreFratnTypeInput="ngModel">
      <mat-error *ngIf="nbreFratnTypeInput.hasError('required')">nbreFratType must not be empty.</mat-error>
    </mat-form-field>

  </div>

</div>

<div id="conteneur">

  <div>
    <span class="label">Donneur compatible(s) :</span>
    <mat-form-field appearance="fill">
      <mat-label>Donneur compatible(s)</mat-label>
      <mat-select [(ngModel)]="fiche8.donneurComp" ngModel name="Donneur_compatible" required>
        <mat-option *ngFor="let item of tableau " [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <span class="label">Présiser :</span>
    <mat-form-field>
      <input type="text" matInput placeholder="Présiser" ngModel name="Présiser" required
     [(ngModel)]="fiche8.preciseDonneur" #presiserInput="ngModel">
      <mat-error *ngIf="presiserInput.hasError('required')">presiser must not be empty.</mat-error>
    </mat-form-field>
  </div>

</div><br>

<span class="label">Donneur :</span>
<mat-form-field appearance="fill">
  <mat-label>Donneur </mat-label>
  <mat-select [(ngModel)]="fiche8.donneur" ngModel name="Donneur" required>
    <mat-option *ngFor="let item of donneur " value="{{item}}">{{item}}</mat-option>
  </mat-select>
</mat-form-field>

<div id="conteneur2">

  <div>

    <span class="label">Greffe faite :</span>
    <mat-form-field appearance="fill">
      <mat-label>Greffe faite</mat-label>
      <mat-select [(ngModel)]="fiche8.greffeFaite" ngModel name="Greffe_faite" required>
        <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div>

    <span class="label">Délai par rapport au diagnostic :</span>
    <mat-form-field>
      <input type="number" matInput placeholder="Délai par rapport au diagnostic" ngModel name="delaiprad" required
       [(ngModel)]="fiche8.delaiRappDiag" #delaipradInput="ngModel">
      <mat-error *ngIf="delaipradInput.hasError('required')">Délai must not be empty.</mat-error>
    </mat-form-field>
    <span class="label">mois</span>

  </div>

</div>

<span class="label">Si non faite pourquoi :</span>
<mat-form-field appearance="fill">
  <mat-label>pourquoi</mat-label>
  <mat-select [(ngModel)]="fiche8.pourquoiNfaite" ngModel name="pourquoi" required>
    <mat-option *ngFor="let item of tabp " value="{{item}}">{{item}}</mat-option>
  </mat-select>
</mat-form-field><br>


<span class="label">Cyclophophamide</span>
<mat-form-field appearance="fill">
  <mat-label>Cyclophophamide</mat-label>
  <mat-select [(ngModel)]="fiche8.cyclophosphamide" ngModel name="Cyclophophamide" required>
    <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
  </mat-select>
</mat-form-field>

<div id="conteneur" *ngIf="fiche8.cyclophosphamide=='Oui'">

  <span class="label">Dose cumulative :</span>
  <mat-form-field>
    <input type="number" matInput placeholder="Dose cumulative" ngModel name="Dose_cumulative" required
    [(ngModel)]="fiche8.doseCum1" #doseCumuInput="ngModel">
    <mat-error *ngIf="doseCumuInput.hasError('required')">Dose cumulative must not be empty.</mat-error>
  </mat-form-field>
  <span class="label">mg/kg</span>

</div><br>

<span class="label">Fludarabine</span>
<mat-form-field appearance="fill">
  <mat-label>Fludarabine</mat-label>
  <mat-select [(ngModel)]="fiche8.fludarabine" ngModel name="Fludarabine" required>
    <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
  </mat-select>
</mat-form-field>

<div id="conteneur" *ngIf="fiche8.fludarabine=='Oui'">

  <span class="label">Dose cumulative :</span>
  <mat-form-field>
    <input type="number" matInput placeholder="Dose cumulative" ngModel name="Dose_cumulative" required
     [(ngModel)]="fiche8.doseCum2" #fluInput="ngModel">
    <mat-error *ngIf="fluInput.hasError('required')">Dose cumulative must not be empty.</mat-error>
  </mat-form-field>
  <span class="label">mg/kg</span>

</div><br>

<span class="label">Busulfan</span>
<mat-form-field appearance="fill">
  <mat-label>Busulfan</mat-label>
  <mat-select [(ngModel)]="fiche8.busulfan" ngModel name="Busulfan" required>
    <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
  </mat-select>
</mat-form-field>

<div id="conteneur" *ngIf="fiche8.busulfan=='Oui'">

  <span class="label">Dose cumulative :</span>
  <mat-form-field>
    <input type="number" matInput placeholder="Dose cumulative" ngModel name="Dose_cumulative" required
     [(ngModel)]="fiche8.doseCum3" #doseCumu1Input="ngModel">
    <mat-error *ngIf="doseCumu1Input.hasError('required')">Dose cumulative must not be empty.</mat-error>
  </mat-form-field>
  <span class="label">mg/kg</span>

</div><br>

<span class="label">Autre :</span>
<mat-form-field>
  <input type="text" matInput placeholder="Autre" ngModel name="Autregh" required
    [(ngModel)]="fiche8.autreConditionnement" #autreghInput="ngModel">
  <mat-error *ngIf="autreghInput.hasError('required')">Délai must not be empty.</mat-error>
</mat-form-field>

<div id="conteneur">

  <span class="label">Irradiation</span>
  <mat-form-field appearance="fill">
    <mat-label>Irradiation</mat-label>
    <mat-select [(ngModel)]="fiche8.irradiation" ngModel name="Irradiation" required>
      <mat-option *ngFor="let item of tabirr " value="{{item}}">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>

</div><br>

<div id="conteneur">

  <span class="label">Sérothérapie</span>
  <mat-form-field appearance="fill">
    <mat-label>Sérothérapie</mat-label>
    <mat-select [(ngModel)]="fiche8.serotherapie" ngModel name="Serotherapie" required>
      <mat-option *ngFor="let item of tabenum2 " value="{{item}}">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>

</div><br>

<div id="conteneur1" *ngIf="fiche8.serotherapie=='Faite'">

  <span class="label">SAL</span>
  <mat-form-field appearance="fill">
    <mat-label>SAL</mat-label>
    <mat-select [(ngModel)]="fiche8.sal" ngModel name="SAL" required>
      <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
    </mat-select>
  </mat-form-field><br><br>

  <div id="conteneur1" *ngIf="fiche8.sal=='Oui'">

    <span class="label">Dose :</span>
    <mat-form-field>
      <input type="number" matInput placeholder="Dose" ngModel name="Dose" required
        [(ngModel)]="fiche8.doseSAL" #dose1Input="ngModel">
      <mat-error *ngIf="dose1Input.hasError('required')">Dose cumulative must not be empty.</mat-error>
    </mat-form-field>
    <span class="label">mg/kg</span>

  </div>


</div><br>

<span class="label">source de cellule souche</span>
<mat-form-field appearance="fill">
  <mat-label>source de cellule souche</mat-label>
  <mat-select [(ngModel)]="fiche8.sourceCellule" ngModel name="sourceCelluleSouche" required>
    <mat-option *ngFor="let item of tabSouche " value="{{item}}">{{item}}</mat-option>
  </mat-select>
</mat-form-field><br>

<span class="label">Sortie d'aplasie J :</span>
<mat-form-field appearance="fill">
  <mat-label>Sortie d'aplasie J</mat-label>
  <mat-select [(ngModel)]="fiche8.sortieAplasie" ngModel name="SortieAplasieJ" required>
    <mat-option *ngFor="let item of tableau1 " [value]="item">{{item}}</mat-option>
  </mat-select>
</mat-form-field>

<div id="conteneur">

  <div>
    Complicationde la greffe :
  </div>


  <div>

    <span class="label">aGvH : Grade :</span>
    <mat-form-field appearance="fill">
      <mat-label>aGvH : Grade</mat-label>
      <mat-select [(ngModel)]="fiche8.gradeaGvH" ngModel name="aGvH_Grade" required>
        <mat-option *ngFor="let item of tabenum9 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <div>

    <span class="label">cGvH :</span>
    <mat-form-field appearance="fill">
      <mat-label>cGvH</mat-label>
      <mat-select [(ngModel)]="fiche8.cgvH" ngModel name="cGvH" required>
        <mat-option *ngFor="let item of tabenum10 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <div>

    <span class="label">MVO :</span>
    <mat-form-field appearance="fill">
      <mat-label>MVO</mat-label>
      <mat-select [(ngModel)]="fiche8.mvo" ngModel name="MVO" required>
        <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div>

    <span class="label">Complication pulminaire :</span>
    <mat-form-field appearance="fill">
      <mat-label>Complication pulminaire</mat-label>
      <mat-select [(ngModel)]="fiche8.complicationPulmonaire" ngModel name="ComplicationPulminaire" required>
        <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


</div>

<div *ngIf="fiche8.complicationPulmonaire=='Oui'">

  <span class="label">Preciser :</span>
  <mat-form-field>
    <input type="text" matInput placeholder="Preciser" ngModel name="Preciser" required
     [(ngModel)]="fiche8.preciseCompPulm" #PreciserInput="ngModel">
    <mat-error *ngIf="PreciserInput.hasError('required')">Preciser cumulative must not be empty.</mat-error>
  </mat-form-field>


</div>

<span class="label">Survie : J 100 post greffe :</span>
<mat-form-field appearance="fill">
  <mat-label>Survie : J 100 post greffe</mat-label>
  <mat-select [(ngModel)]="fiche8.survieJ100" ngModel name="surviej100" required>
    <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
  </mat-select>
</mat-form-field>

<br>
<hr><br>

<p><strong>Evolution :</strong></p>

<div id="conteneur">

  <div>

    <span class="label">SMD :</span>
    <mat-form-field appearance="fill">
      <mat-label>SMD</mat-label>
      <mat-select [(ngModel)]="fiche8.smd" ngModel name="SMD" required>
        <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <div>

    <span class="label">Critéres diagnostic :</span>
    <mat-form-field>
      <input type="text" matInput placeholder="Critéres diagnostic" ngModel name="Critéres_diagnostic" required
      [(ngModel)]="fiche8.critereDiagSMD" #cridiagInput="ngModel">
      <mat-error *ngIf="cridiagInput.hasError('required')">Critéres diagnostic must not be empty.</mat-error>
    </mat-form-field>

  </div>


  <div>

    <span class="label">Traitement :</span>
    <mat-form-field>
      <input type="text" matInput placeholder="Traitement" ngModel name="Traitement" required
      [(ngModel)]="fiche8.traitementSMD" #TraitementInput="ngModel">
      <mat-error *ngIf="TraitementInput.hasError('required')">Traitement cumulative must not be empty.</mat-error>
    </mat-form-field>

  </div>


</div>

<div id="conteneur1" *ngIf="fiche8.smd=='Oui'">

  <span class="label">Age au diagnostic de SMD :</span>
  <mat-form-field>
    <input type="number" matInput placeholder="Age au diagnostic de SMD" ngModel name="AgeDiagnosticSMD" required
     [(ngModel)]="fiche8.ageDiagSMD" #agediagSMDInput="ngModel">
    <mat-error *ngIf="agediagSMDInput.hasError('required')">agediagSMD must not be empty.</mat-error>
  </mat-form-field>

</div>

<div id="conteneur">

  <span class="label">Transformation aigue :</span>
  <mat-form-field appearance="fill">
    <mat-label>Transformation aigue</mat-label>
    <mat-select [(ngModel)]="fiche8.transformationAigue" ngModel name="Transformation_aigue" required>
      <mat-option *ngFor="let item of taigue " value="{{item}}">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>


</div>

<div id="conteneur">

  <span class="label">Age au diagnostic LA :</span>
  <mat-form-field>
    <input type="number" matInput placeholder="Age au diagnostic LA" ngModel name="AgeDiagnosticLA" required
    [(ngModel)]="fiche8.ageDiagLA" #agediagLAInput="ngModel">
    <mat-error *ngIf="agediagLAInput.hasError('required')">agediagLA must not be empty.</mat-error>
  </mat-form-field>
  <span class="label">ans</span>

</div>

<div id="conteneur">

  <span class="label">Traitement de la LA :</span>
  <mat-form-field appearance="fill">
    <mat-label>Traitement de la LA</mat-label>
    <mat-select [(ngModel)]="fiche8.traitementLA" ngModel name="TraitementLA" required>
      <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>

</div>


<div id="conteneur">

  <span class="label">Cancer :</span>
  <mat-form-field appearance="fill">
    <mat-label>Cancer</mat-label>
    <mat-select [(ngModel)]="fiche8.cancerE" ngModel name="Cancer" required>
      <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div id="conteneur1" *ngIf="fiche8.cancerE=='Oui'">

  <div>

    <span class="label">Localisation :</span>
    <mat-form-field>
      <input type="text" matInput placeholder="Localisation" ngModel name="Localisation" required
       [(ngModel)]="fiche8.localisation" #LocalisationInput="ngModel">
      <mat-error *ngIf="LocalisationInput.hasError('required')">Localisation must not be empty.</mat-error>
    </mat-form-field>

  </div>


  <div>

    <span class="label">Type histologique :</span>
    <mat-form-field>
      <input type="text" matInput placeholder="Type histologique" ngModel name="TypeHistologique" required
       [(ngModel)]="fiche8.typeHistologique" #typeHistoInput="ngModel">
      <mat-error *ngIf="typeHistoInput.hasError('required')">Type histologique must not be empty.</mat-error>
    </mat-form-field>

  </div>


  <div>

    <span class="label">Traitement :</span>
    <mat-form-field appearance="fill">
      <mat-label>Traitement</mat-label>
      <mat-select [(ngModel)]="fiche8.traitementCancer" ngModel name="Traitement" required>
        <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field><br><br>

    <div *ngIf="fiche8.traitementCancer=='Oui'">

      <span class="label">Présiser :</span>
      <mat-form-field>
        <input type="text" matInput placeholder="Présiser" ngModel name="Presiser" required
         [(ngModel)]="fiche8.preciseTraitement" #presisertInput="ngModel">
        <mat-error *ngIf="presisertInput.hasError('required')">Présiser must not be empty.</mat-error>
      </mat-form-field>


    </div>

  </div>


</div>


<div id="conteneur">

  <span class="label">Evolution cytogénétique clonale :</span>
  <mat-form-field appearance="fill">
    <mat-label>Evolution cytogénétique clonale</mat-label>
    <mat-select [(ngModel)]="fiche8.evolution_cyto" ngModel name="EvolutionCytogClonale" required>
      <mat-option *ngFor="let item of tabenum1 " value="{{item}}">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>

</div><br>

<div id="conteneur1" *ngIf="fiche8.evolution_cyto=='Oui'">


  <div>

    <span class="label">Formule chromosomique médullaire :</span>
    <mat-form-field>
      <input type="text" matInput placeholder="Formule chromosomique médullaire" ngModel name="FormuleChromoMédullaire"
        required [(ngModel)]="fiche8.formuleChrom" #fchromoMInput="ngModel">
      <mat-error *ngIf="fchromoMInput.hasError('required')">fchromoM histologique must not be empty.</mat-error>
    </mat-form-field>
  </div>

  <div>

    <span class="label">Age au moment de l'evolution :</span>
    <mat-form-field>
      <input type="number" matInput placeholder="Age au moment de l'evolution" ngModel name="AgeMomentEvolution"
        required  [(ngModel)]="fiche8.ageE" #agemeInput="ngModel">
      <mat-error *ngIf="agemeInput.hasError('required')">Age histologique must not be empty.</mat-error>
    </mat-form-field>
  </div>

</div>

<div id="conteneur">

  <span class="label">Autre :</span>
  <mat-form-field>
    <input type="text" matInput placeholder="Autre" ngModel name="Autre" required
      [(ngModel)]="fiche8.autresCancers" #autrezzInput="ngModel">
    <mat-error *ngIf="autrezzInput.hasError('required')">Age histologique must not be empty.</mat-error>
  </mat-form-field>

</div>

<div id="conteneur">

  <span class="label">DDN</span>
  <mat-form-field appearance="fill" class="item">
    <input matInput [matDatepicker]="pickeryt" [(ngModel)]="fiche8.ddn">
    <mat-datepicker-toggle matSuffix [for]="pickeryt"></mat-datepicker-toggle>
    <mat-datepicker #pickeryt></mat-datepicker>
  </mat-form-field>

</div>

<div id="conteneur">

  <span class="label">Statut :</span>
  <mat-form-field appearance="fill">
    <mat-label>Statut</mat-label>
    <mat-select [(ngModel)]="fiche8.statut" ngModel name="Statut" required>
      <mat-option *ngFor="let item of tabstatut " value="{{item}}">{{item}}</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div id="conteneur">

  <span class="label">Survie globale :</span>
  <mat-form-field>
    <input type="number" matInput placeholder="Survie globale" ngModel name="SurvieGlobale" required
    [(ngModel)]="fiche8.survieGlobale" #survieGlobaleInput="ngModel">
    <mat-error *ngIf="survieGlobaleInput.hasError('required')">survieGlobale must not be empty.</mat-error>
  </mat-form-field>

</div>

   